.wrapper
  %canvas{:id => "draw-area", width:"700px", height:"700px", :style => "border: 1px solid #000000"}
  %span{:id => "color-palette"}
  %button{:id => "clear-button"}全消し
  %button{:id => "eraser-button"}消しゴムモード