.wrapper
  %canvas{:id => "draw-area", width:"1350px", height:"600px", :style => "border: 1px solid #000000"}
  .button
    %button{:id => "clear-button"}全消
    %button{:id => "eraser-button"}消しゴムモード
    %span{:id => "color-palette"}