.p5Canvas {
  border: 3px solid black;
  
}

.expanation {
  padding-bottom: 10px;
}

#kesigomu{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
}

#kuro{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 5px;
}

#aka{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}
#ao{
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 5px;
}
#ki{
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 5px;
}
#midori{
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 5px;
}